body {
    font-family:Tahoma;
    font-size: 20px;
    width: 100%;
    margin: 0px auto;
    color: blue;
}
#banner {
    background: blue;
    height: 200px;
}
#login{
    background: floralwhite;
    height: 40px;
}
#main {
    background: rgb(231, 229, 227);
    height: 800px;
}
#main #left {
    background: forestgreen;
    width: 33.33%;
    height: 800px; 
    float: left; 
}
#main #middle {
    background: rgb(34, 45, 139);
    width: 33.33%;
    height: 800px;
    float: left;
}
#main #right {
    background: rgb(139, 34, 104);
    width: 33.33%;
    height: 800px;
    float: left;
}